@model Todo

<h2>Create Todo</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

   <div class="form-group">
    @Html.LabelFor(model => model.Completed)
    @Html.CheckBoxFor(model => model.Completed, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
</div>
    <button type="submit" class="btn btn-primary">Create</button>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
